<a href="https://colab.research.google.com/github/Sman2024/learning-csv/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/TheTitanic.csv')

In [10]:
df.to_csv('TheTitanic.csv')

In [12]:
df.head(10)

,1,2,3,4,5,6,7,8,9,10
0,sn,pclass,survived,NaN,gender,age,family,fare,embarked,date
1,1,3,0,Mr. Anthony,male,42,0,7.55,NaN,01-Jan-90
2,1,3,0,Mr. Anthony,male,42,0,7.55,NaN,01-Jan-90
3,2,3,0,Master. Eugene Joseph,male,?,2,20.25,S,02-Jan-90
4,3,2,0,"Abbott, Mr. Rossmore Edward",NaN,NaN,2,**,S,03-Jan-90
5,4,3,1,"Abbott, Mr. Rossmore Edward",female,35,2,20.25,S,04-Jan-90
6,5,3,1,"Abelseth, Miss. Karen Marie",female,16,0,7.65,S,05-Jan-90
7,6,3,1,"Abelseth, Mr. Olaus Jorgensen",male,25,0,7.65,S,06-Jan-90
8,7,2,0,"Abelson, Mr. Samuel",male,30,1,24,C,07-Jan-90
9,8,2,1,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,24,C,08-Jan-90

In [13]:
df.isnull().sum()

1       0
2       0
3       0
4       1
5       1
6     257
7       2
8       2
9       6
10      0
dtype: int64

In [14]:
missing_data = df.isnull()
missing_data.head(5)

       1      2      3      4      5      6      7      8      9     10
0  False  False  False   True  False  False  False  False  False  False
1  False  False  False  False  False  False  False  False   True  False
2  False  False  False  False  False  False  False  False   True  False
3  False  False  False  False  False  False  False  False  False  False
4  False  False  False  False   True   True  False  False  False  False

In [15]:
df.replace("?", np.nan,inplace=True)
df.replace("**", np.nan, inplace=True)
df.head(25)

,1,2,3,4,5,6,7,8,9,10
0,sn,pclass,survived,NaN,gender,age,family,fare,embarked,date
1,1,3,0,Mr. Anthony,male,42,0,7.55,NaN,01-Jan-90
2,1,3,0,Mr. Anthony,male,42,0,7.55,NaN,01-Jan-90
3,2,3,0,Master. Eugene Joseph,male,NaN,2,20.25,S,02-Jan-90
4,3,2,0,"Abbott, Mr. Rossmore Edward",NaN,NaN,2,NaN,S,03-Jan-90
5,4,3,1,"Abbott, Mr. Rossmore Edward",female,35,2,20.25,S,04-Jan-90
6,5,3,1,"Abelseth, Miss. Karen Marie",female,16,0,7.65,S,05-Jan-90
7,6,3,1,"Abelseth, Mr. Olaus Jorgensen",male,25,0,7.65,S,06-Jan-90
8,7,2,0,"Abelson, Mr. Samuel",male,30,1,24,C,07-Jan-90
9,8,2,1,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,24,C,08-Jan-90
10,9,3,1,"Abrahamsson, Mr. Abraham August Johannes",male,20,0,7.925,S,09-Jan-90
11,10,3,1,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18,0,7.2292,C,10-Jan-90
12,11,3,0,"Adahl, Mr. Mauritz Nils Martin",male,30,0,7.25,S,11-Jan-90
13,12,3,0,"Adams, Mr. John",male,26,0,8.05,S,12-Jan-90
14,13,3,0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,1,9.475,S,13-Jan-90
15,14,3,1,"Aks, Master. Philip Frank",male,0.83,1,9.35,S,14-Jan-90
16,15,3,1,"Aks, Mrs. Sam (Leah Rosen)",female,18,1,9.35,S,15-Jan-90
17,16,3,1,"Albimona, Mr. Nassef Cassem",male,26,0,18.7875,C,16-Jan-90
18,17,2,0,"Aldworth, Mr. Charles Augustus",male,30,0,13,S,17-Jan-90
19,18,3,0,"Alexander, Mr. William",male,26,0,7.8875,S,18-Jan-90
20,19,3,0,"Alhomaki, Mr. Ilmari Rudolf",male,20,0,7.925,S,19-Jan-90
21,20,3,0,"Ali, Mr. Ahmed",male,24,0,7.05,S,20-Jan-90
22,21,3,0,"Ali, Mr. William",male,25,0,7.05,S,21-Jan-90
23,22,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,211.3375,S,22-Jan-90
24,23,3,0,"Allen, Mr. William Henry",male,35,0,8.05,S,23-Jan-90

In [16]:
for column in df:
  print(column)
  print(missing_data[column].value_counts())
  print("")

1
1
False    1302
Name: count, dtype: int64

2
2
False    1302
Name: count, dtype: int64

3
3
False    1302
Name: count, dtype: int64

4
4
False    1301
True        1
Name: count, dtype: int64

5
5
False    1301
True        1
Name: count, dtype: int64

6
6
False    1045
True      257
Name: count, dtype: int64

7
7
False    1300
True        2
Name: count, dtype: int64

8
8
False    1300
True        2
Name: count, dtype: int64

9
9
False    1296
True        6
Name: count, dtype: int64

10
10
False    1302
Name: count, dtype: int64

In [17]:
hello = df.dropna()
hello.head(15)

,1,2,3,4,5,6,7,8,9,10
5,4,3,1,"Abbott, Mr. Rossmore Edward",female,35,2,20.25,S,04-Jan-90
6,5,3,1,"Abelseth, Miss. Karen Marie",female,16,0,7.65,S,05-Jan-90
7,6,3,1,"Abelseth, Mr. Olaus Jorgensen",male,25,0,7.65,S,06-Jan-90
8,7,2,0,"Abelson, Mr. Samuel",male,30,1,24,C,07-Jan-90
9,8,2,1,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,24,C,08-Jan-90
10,9,3,1,"Abrahamsson, Mr. Abraham August Johannes",male,20,0,7.925,S,09-Jan-90
11,10,3,1,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18,0,7.2292,C,10-Jan-90
12,11,3,0,"Adahl, Mr. Mauritz Nils Martin",male,30,0,7.25,S,11-Jan-90
13,12,3,0,"Adams, Mr. John",male,26,0,8.05,S,12-Jan-90
14,13,3,0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,1,9.475,S,13-Jan-90
15,14,3,1,"Aks, Master. Philip Frank",male,0.83,1,9.35,S,14-Jan-90
16,15,3,1,"Aks, Mrs. Sam (Leah Rosen)",female,18,1,9.35,S,15-Jan-90
17,16,3,1,"Albimona, Mr. Nassef Cassem",male,26,0,18.7875,C,16-Jan-90
18,17,2,0,"Aldworth, Mr. Charles Augustus",male,30,0,13,S,17-Jan-90
19,18,3,0,"Alexander, Mr. William",male,26,0,7.8875,S,18-Jan-90

In [18]:
df = df.fillna("Unknown")
df.head(15)

,1,2,3,4,5,6,7,8,9,10
0,sn,pclass,survived,Unknown,gender,age,family,fare,embarked,date
1,1,3,0,Mr. Anthony,male,42,0,7.55,Unknown,01-Jan-90
2,1,3,0,Mr. Anthony,male,42,0,7.55,Unknown,01-Jan-90
3,2,3,0,Master. Eugene Joseph,male,Unknown,2,20.25,S,02-Jan-90
4,3,2,0,"Abbott, Mr. Rossmore Edward",Unknown,Unknown,2,Unknown,S,03-Jan-90
5,4,3,1,"Abbott, Mr. Rossmore Edward",female,35,2,20.25,S,04-Jan-90
6,5,3,1,"Abelseth, Miss. Karen Marie",female,16,0,7.65,S,05-Jan-90
7,6,3,1,"Abelseth, Mr. Olaus Jorgensen",male,25,0,7.65,S,06-Jan-90
8,7,2,0,"Abelson, Mr. Samuel",male,30,1,24,C,07-Jan-90
9,8,2,1,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,24,C,08-Jan-90
10,9,3,1,"Abrahamsson, Mr. Abraham August Johannes",male,20,0,7.925,S,09-Jan-90
11,10,3,1,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18,0,7.2292,C,10-Jan-90
12,11,3,0,"Adahl, Mr. Mauritz Nils Martin",male,30,0,7.25,S,11-Jan-90
13,12,3,0,"Adams, Mr. John",male,26,0,8.05,S,12-Jan-90
14,13,3,0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,1,9.475,S,13-Jan-90

In [20]:
df['4'] = df['4'].fillna("Name")
df.head(5)

,1,2,3,4,5,6,7,8,9,10
0,sn,pclass,survived,Unknown,gender,age,family,fare,embarked,date
1,1,3,0,Mr. Anthony,male,42,0,7.55,Unknown,01-Jan-90
2,1,3,0,Mr. Anthony,male,42,0,7.55,Unknown,01-Jan-90
3,2,3,0,Master. Eugene Joseph,male,Unknown,2,20.25,S,02-Jan-90
4,3,2,0,"Abbott, Mr. Rossmore Edward",Unknown,Unknown,2,Unknown,S,03-Jan-90

In [ ]:
df.rename(columns={'5': '5'})

,1,2,3,4,5,6,7,8,9,10
0,sn,pclass,survived,Name,gender,age,family,fare,embarked,date
1,1,3,0,Mr. Anthony,male,42,0,7.55,Unknown,01-Jan-90
2,1,3,0,Mr. Anthony,male,42,0,7.55,Unknown,01-Jan-90
3,2,3,0,Master. Eugene Joseph,male,Unknown,2,20.25,S,02-Jan-90
4,3,2,0,"Abbott, Mr. Rossmore Edward",Unknown,Unknown,2,Unknown,S,03-Jan-90
...,...,...,...,...,...,...,...,...,...,...
1297,1296,2,0,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24,0,13,S,19-Jul-93
1298,1297,3,0,"Zabour, Miss. Hileni",female,14.5,1,14.4542,C,20-Jul-93
1299,1298,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,7.225,C,21-Jul-93
1300,1299,3,0,"Zakarian, Mr. Ortin",male,27,0,7.225,C,22-Jul-93
1301,1300,3,0,"Zimmerman, Mr. Leo",male,29,0,7.875,S,23-Jul-93

In [23]:
df.rename(index={0: 'Name', 1: 'Oruko'})
df.head(5)

,1,2,3,4,5,6,7,8,9,10
0,sn,pclass,survived,Unknown,gender,age,family,fare,embarked,date
1,1,3,0,Mr. Anthony,male,42,0,7.55,Unknown,01-Jan-90
2,1,3,0,Mr. Anthony,male,42,0,7.55,Unknown,01-Jan-90
3,2,3,0,Master. Eugene Joseph,male,Unknown,2,20.25,S,02-Jan-90
4,3,2,0,"Abbott, Mr. Rossmore Edward",Unknown,Unknown,2,Unknown,S,03-Jan-90

In [22]:
df.rename_axis("rows_no", axis='rows').rename_axis("column_no", axis='columns')

column_no,1,2,3,4,5,6,7,8,9,10
rows_no,,,,,,,,,,
0,sn,pclass,survived,Unknown,gender,age,family,fare,embarked,date
1,1,3,0,Mr. Anthony,male,42,0,7.55,Unknown,01-Jan-90
2,1,3,0,Mr. Anthony,male,42,0,7.55,Unknown,01-Jan-90
3,2,3,0,Master. Eugene Joseph,male,Unknown,2,20.25,S,02-Jan-90
4,3,2,0,"Abbott, Mr. Rossmore Edward",Unknown,Unknown,2,Unknown,S,03-Jan-90
...,...,...,...,...,...,...,...,...,...,...
1297,1296,2,0,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24,0,13,S,19-Jul-93
1298,1297,3,0,"Zabour, Miss. Hileni",female,14.5,1,14.4542,C,20-Jul-93
1299,1298,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,7.225,C,21-Jul-93
1300,1299,3,0,"Zakarian, Mr. Ortin",male,27,0,7.225,C,22-Jul-93
1301,1300,3,0,"Zimmerman, Mr. Leo",male,29,0,7.875,S,23-Jul-93